@media (min-width: 640px) {

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Header area */

    header {
        grid-template-columns: 1fr 2fr;
    }

    #menu {
        display: none;
    }

    .navigation {
        grid-column: 2/3;
        margin: auto 0;
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        flex: 1 1 100%;
    }

    .navigation a {
        display: block;
    }

    /* Home Page */
    .hero {
        display: block;
        grid-column: 1/4;
        padding: 0;
    }

    .home-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}