* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #437C90;
    --secondary-color: white;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: var(--primary-color);
}

h1 {
    padding: 1rem;
    color: var(--secondary-color);
}

h2 {
    padding: 1rem;
}

main p {
    padding: 1rem;
}

a {
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, .3);
    margin: 1rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}